<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/{{ RHOK_STATIC_URL }}css/target/screen.css?v=2">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
        <script src="{{ RHOK_STATIC_URL }}js/main.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <header>
            <h1>Councilmatic</h1>
        </header>
        
        <section class="page_content{% for page_class in page_classes %} {{ page_class }}{% endfor %}">
            {% block page_content %}{% endblock %}
        </section>
        
    </body>
</html>

