{% extends "rhok/base.html" %}

{% block page_content %}
    <h2>What's happening in Philadelphia City Council?</h2>
    <ul class="data-list">
        <li>
            <small>Meeting Minutes</small>
            <h3>Some Title</h3>
            <date>August 3, 2010</date>
            <p>Summary here.</p> 
            <h4>Sponsors</h4>
            <ul>
                <li><a href="">Jannie Blackwell</li>
                <li><a href="">Bill Green</a></li>
            </ul>
            <a class="learn-more" href="">A Link to download full pdf</a></li>
        </li>
        <li>
            <small>Bill</small>
            <h3>Some Title</h3>
            <date>August 3, 2010</date>
            <p>Summary here.</p> 
            <h4>Sponsors</h4>
            <ul>
                <li><a href="">Jannie Blackwell</li>
                <li><a href="">Bill Green</a></li>
            </ul>
            <a class="learn-more" href="">A Link to download full pdf</a></li>
        </li>
    </ul>
{% endblock %}
